/Poo/nbproject/private/
/Poo/build/
/PooShape/nbproject/private/
/PooShape/build/
/DemoFamilyTree/nbproject/private/
/DemoFamilyTree/build/
/.Family.csv.un~
/Family.csv.un~
/Family.csv~
/..gitignore.un~
/.gitignore~
/AcademicSystem/nbproject/private/
/LinkedNodes/nbproject/private/
/DemoUI/nbproject/private/
/DemoUI/build/
/ArchivosBinarios/nbproject/private/